language: node_js
node_js:
  - "node"
  - "lts/*"
script:
  - npm test
  - npm run check
  - npm run build
deploy:
  provider: npm
  email: brian@mockbrian.com
  api_key: $NPM_AUTH_TOKEN
  skip_cleanup: true
  on:
    tags: true
    node_js: "lts/*"
