<!DOCTYPE html>
<html lang="en" class="{{ rootClass }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wavebeem" />
    <meta name="twitter:creator" content="@wavebeem" />
    <meta name="og:title" content="{{ title or 'bread-n-butter' }}" />
    <meta name="og:description" content="{{ description }}" />
    <meta name="og:icon" content="https://bnb-wavebeem.netlify.app/img/icon.png" />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <script type="module" src="/js/devtools.js"></script>
    <title>{{ title or "bread-n-butter" }}</title>
  </head>
  <body>
    <nav>
      <span>bread-n-butter</span>
      <a href="/">Home</a>
      <a href="/tutorial">Tutorial</a>
      <a href="/api">API</a>
      <a href="https://github.com/wavebeem/bread-n-butter">GitHub</a>
    </nav>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      &copy; {{ "now" | date("yyyy") }}
      <a href="https://www.mockbrian.com">Brian Mock</a>
    </footer>
  </body>
</html>
