:root {
  --hue: 210;

  --color-link: hsl(var(--hue), 100%, 40%);
  --color-link-hover: hsl(var(--hue), 80%, 60%);
  --color-fg: hsl(var(--hue), 20%, 12%);
  --color-bg: hsl(var(--hue), 20%, 96%);
  --color-border: hsl(var(--hue), 20%, 87%);
  --color-codeBG: hsl(var(--hue), 50%, 100%);
  --color-codeFG: hsl(var(--hue), 50%, 30%);

  --color-syntaxBG: hsl(var(--hue), 20%, 12%);
  --color-syntaxFG: hsl(var(--hue), 20%, 96%);
  --color-syntaxComment: hsl(230, 50%, 80%);
  --color-syntaxLiteral: hsl(30, 90%, 70%);
  --color-syntaxKeyword: hsl(190, 90%, 70%);
  --color-syntaxFunction: hsl(40, 90%, 80%);
  --color-syntaxString: hsl(80, 90%, 70%);

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", "Cascadia Code", Menlo, Consolas,
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hue: 192;

    --color-link: hsl(var(--hue), 100%, 50%);
    --color-link-hover: hsl(var(--hue), 70%, 80%);
    --color-fg: hsl(var(--hue), 20%, 87%);
    --color-bg: hsl(var(--hue), 20%, 20%);
    --color-border: hsl(var(--hue), 20%, 40%);
    --color-codeBG: hsl(var(--hue), 20%, 27%);
    --color-codeFG: hsl(var(--hue), 20%, 100%);

    --color-syntaxBG: hsl(var(--hue), 20%, 13%);
    --color-syntaxFG: hsl(var(--hue), 20%, 98%);
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-fg), 0 0 0 3px var(--color-bg);
}

html {
  scrollbar-color: var(--color-fg) var(--color-bg);
  font-family: var(--font-sans);
  background: var(--color-bg);
  color: var(--color-fg);
  line-height: 1.5;
}

body {
  padding: 0 1rem;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:not(pre) > code {
  font-family: var(--font-mono);
  background: var(--color-codeBG);
  color: var(--color-codeFG);
  padding: 0 2px;
}

nav,
main,
footer {
  padding: 1rem 0;
}

main {
  flex: 1 1 auto;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

li {
  margin: 0.5rem 0;
}

ul {
  padding-left: 1rem;
  list-style-type: square;
}

nav {
  font-weight: bold;
  display: grid;
  gap: 1rem;
  border-bottom: 2px solid var(--color-border);
}

@media (min-width: 500px) {
  nav {
    grid-template-columns: repeat(5, max-content);
  }
}

nav a,
footer a,
.markdownIt-TOC a {
  text-decoration: none;
}

h2,
h3 {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 2px solid var(--color-border);
}

.markdownIt-TOC {
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
}

.markdownIt-TOC li {
  padding: 0.25rem 0;
}

.page-api .markdownIt-TOC ul li {
  font-family: var(--font-mono);
}

.markdownIt-TOC ul {
  list-style-type: none;
  font-weight: normal;
  border-left: 2px solid var(--color-border);
  padding-left: 1rem;
}

.markdownIt-Anchor {
  text-decoration: none;
  font-weight: normal;
}

footer {
  border-top: 2px solid var(--color-border);
  text-align: center;
  font-weight: bold;
}
