/* Based on https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--color-syntaxFG);
  background: none;
  font-family: var(--font-mono);
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  /* Sorry, ligatures fans */
  font-variant-ligatures: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 0.5rem 0;
  overflow: auto;
  scrollbar-color: var(--color-syntaxFG) var(--color-syntaxBG);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--color-syntaxBG);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-syntaxComment);
}

.token.punctuation {
  color: var(--color-syntaxFG);
}

.token.namespace {
  opacity: 0.7;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-syntaxString);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--color-syntaxFG);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--color-syntaxFunction);
}

.token.keyword {
  color: var(--color-syntaxKeyword);
  font-weight: bold;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.boolean,
.token.number,
.token.regex,
.token.important {
  color: var(--color-syntaxLiteral);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
